Flask==3.0.2
gunicorn==21.2.0

requests==2.31.0
python-dotenv==1.0.1

# Finance
yfinance==0.2.37
pandas==2.1.4
numpy==1.26.4

# AI
openai==1.3.0

# PDF/Charts
matplotlib==3.8.2
reportlab==4.2

# Square (requests only version)
